submit_kfold_jobs.py
submit_jobs_fuse_*.py
test_fusion.py
sftp-config*.json
*.py[cod]
/scores/*
/jobs/*
/evaluation/*
/stats/*
/models/*
/.idea/*
*.o*
*.err*
.DS_Store

custom_archive/*
custom_downloader/*
custom_deployer/*
custom_annotation/annotations/details/*
custom_annotation/annotations/processed/*
custom_annotation/annotations/raw/*
result/*
